<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Santa Cecília</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='img/favicon.png') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">



  <!-- Vendor CSS Files -->
<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  
 
  <!-- Referência usando a sintaxe Jinja -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">




<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ url_for('static', filename='img/profile-img.jpg') }}"  alt="..."class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Santa Cecília</a></h1>
        <div class="social-links mt-3 text-center">
          
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
         
          
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-calendar"></i> <span>Escalas</span></a></li>
         
          
          
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contatos</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Ministério Liturgico </h1>
      <p>Santa Cecília | <span class="typed" data-typed-items="Rogai por nós, Intercedei, Abençoa"></span></p>
    </div>
  </section><!-- End Hero -->

  <!-- ======= carousel-item Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>Escalas</h2>
      <p>Prezados, Esperamos que esta mensagem o encontre bem e em paz. Gostaríamos de informar que estamos iniciando o processo de organização da escala das missas para os próximos meses e contamos com a colaboração de todos os fiéis para garantir uma distribuição equitativa das responsabilidades.
        A participação ativa de voluntários na organização das celebrações é fundamental para o bom funcionamento da nossa comunidade. Desta forma, convidamos todos aqueles que desejam contribuir para a realização das missas a participar da sessão de marcação da escala.
      </p>
    </div>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
           
            <a href="{{ url_for('form', domingo='Primeiro domingo') }}">Primeiro domingo</a>
            <p>Some representative placeholder content for the first slide.</p>
           
        </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            
            <a href="{{ url_for('form', domingo='Segundo domingo') }}">Segundo domingo</a>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            
            <a href="{{ url_for('form', domingo='Terceiro domingo') }}">Terceiro domingo</a>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            
            <a href="{{ url_for('form', domingo='Quarto domingo') }}">Quarto domingo</a>
            <p>Some representative placeholder content for the fourth slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            
            <a href="{{ url_for('form', domingo='Quinto domingo') }}">Quinto domingo</a>
            <p>Some representative placeholder content for the fifth slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- End carousel-item Section -->
    
     <!-- ======= Equipes Section ======= -->
     <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Equipes</h2>
        </div>
        <div class="container mt-5">
          <!-- Manhã -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Equipe 1° domingo manhã</h3>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>Nome</th>
                    <th>Função</th>
                  </tr>
                </thead>
                <tbody>
                  {% for resposta in respostas %}
                    {% if resposta.de_manha %}
                      <tr>
                        <td>{{ resposta.nome }}</td>
                        <td>{{ "Tocar" if resposta.tocar else "" }}{{ "Cantar" if resposta.cantar else "" }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="container mt-5">
          <!-- Tarde -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Equipe 1° domingo tarde</h3>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>Nome</th>
                    <th>Função</th>
                  </tr>
                </thead>
                <tbody>
                  {% for resposta in respostas %}
                    {% if resposta.a_tarde %}
                      <tr>
                        <td>{{ resposta.nome }}</td>
                        <td>{{ "Tocar" if resposta.tocar else "" }}{{ "Cantar" if resposta.cantar else "" }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </section><!-- Equipes Section -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contatos</h2>
          <p>Aqui você pode mandar sugestões </p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    

    

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
     
       
        Designed by <a href="https://bootstrapmade.com/">Severino Gouveia</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 

  <!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/typed.js/typed.umd.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>



  <!-- Template Main JS File -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>